Welcome {{name}} !

You have linked your {{service}} account with QuackUp!

Visit {{startLink}} to begin.

If this was not you, then check your {{service}} account for unusual activity.

To unsubscribe, please visit {{unsubscribeLink}}.
